.html, body {
  text-align:center;
}

header {
  padding: 80px;
  text-align: center;
  background: #1A1D36;
  color: white;
}

.figure {
  background-color:#5B7B9A;
  padding: 15px;
  text-align: center;
  align-content: center;
  display: inline inline-block;
  color: white;
}

.four_boxes {
  position: relative;
  width: 220px;
  display: inline-block;
  padding: 12px;
  background-color:#1A1D36;
  border-radius: 5%;
  color: white;
}

.figure a{
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 242, 255);
}

.preconceito {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  text-align: justify;
}

.texto, .imagem {
  background-color: #F3F5F8;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.texto.aproximar {
  transform: scale(1.1);
}
.imagem.aproximar {
  transform: scale(1.1);
}
.texto {
  flex: 1 1 45%;
}

.imagem {
  flex: 1 1 40%;
  text-align: center;
  color:#F3F5F8;

}
.texto h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .preconceito {
    flex-direction: column;
    align-items: center;
  }

  .texto, .imagem {
    flex: 1 1 100%;
    max-width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
}
