*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.html, body{
    background-color: #1A1D36;
}

.figure {
  background-color:#5B7B9A;
  padding: 5px;
  text-align: center;
  align-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.top {
  overflow: hidden;
  margin-bottom: 8px;
}

.top a {
  margin: 5px;
  background-color:#1A1D36;
  padding: 5px;
  flex-direction: row;
  border-radius: 3px;
  float: left;
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 242, 255);
}

.app{
    background-color: white;
    width:90%;
    max-width: 600px;
    margin:100px auto 0;
    padding: 30px;
}

.app h1{
    font-weight: 25px;
    color: #040722;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #0b124f;
    font-weight: 600;
}
.btn{
    background-color: white;
    color:#222 ;
    font-weight: 500;
    width:100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: white;
}
.btn:disabled {
    cursor: no-drop;
}

#next-btn{
    background-color: #040722;
    color: white;
    font-weight: 500;
    width: 150px;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto 0;
    display:none;
}

.correct{
    background: rgb(152, 238, 155);
}

.incorrect{
    background: rgb(243, 127, 127);
}