.html,body {
    text-align:center;
  }
  
  header {
    padding: 80px;
    text-align: center;
    background: #1A1D36;
    color: white;
  }
  
  .figure {
    background-color:#5B7B9A;
    padding: 15px;
    text-align: center;
    align-content: center;
    display: inline inline-block;
    color: white;
  }
  
  .four_boxes {
    position: relative;
    width: 220px;
    display: inline-block;
    padding: 12px;
    background-color:#1A1D36;
    border-radius: 5%;
    color: white;
  }
  
  .cartao {
    background-color:#F3F5F8;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:80px;
    max-width: 600px;
    margin: auto;
  }
  .cartao img {
    border-radius: 25%;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .figure a{
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: rgb(0, 242, 255);
  }
  .cartao a{
    color: white;
    text-decoration: none;
  }