.html,body {
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 80px;
  text-align: center;
  background: #1A1D36;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.figure {
  background-color:#5B7B9A;
  padding: 5px;
  text-align: center;
  align-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.top {
  overflow: hidden;
  margin-bottom: 8px;
}

.top a {
  margin: 5px;
  background-color:#1A1D36;
  padding: 5px;
  flex-direction: row;
  border-radius: 3px;
  float: left;
}
.boxes {
  position: relative;
  width: 20px;
  display: inline-block;
  padding: 12px;
  background-color:#7493b3;
  border-radius: 5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.cartao {
  background-color:#F3F5F8;
  border-radius:15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:80px;
  max-width: 400px;
  margin: auto;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  display: flex;
  overflow: hidden;
}
.cartao img {
  margin:auto;
  object-fit: contain;
  padding: 10px;
  
}

.figure a{
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 242, 255);
}
.tooltip {
  visibility: hidden; /* Oculta o tooltip por padrão */
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute; /* Posiciona o tooltip */
  z-index: 1; /* Garante que fique acima de outros elementos */
  bottom: 125%; /* Posição acima do container */
  left: 50%;
  margin-left: -60px; /* Centraliza o tooltip */
  opacity: 0; /* Inicia com 0 de opacidade para animação */
  transition: opacity 0.3s; /* Adiciona uma transição suave */
}

.boxes:hover .tooltip {
  visibility: visible; /* Torna visível ao passar o mouse */
  opacity: 1; /* Torna visível com opacidade total */
}